@import url('./_normalize.css');
@import url('./_vars.css');
@import url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size);
    color: var(--main-color);
}

.page-nav, .main-content section { 
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}

.page-nav{
    text-align: center;
    border-bottom: 1px solid #828282;
    line-height: 1.36;
}

.nav-list{
    padding: 0;
    margin: 0;
}

.nav-list-elem{
    display: inline-block;
    letter-spacing: 1px;
    color: #828282;
    margin: 0 40px 0 0 ;
    padding: 27.5px 0;
    cursor: pointer;
}

.nav-list-elem a {
    all: inherit;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.nav-list-elem:hover {
    color: var(--main-color);
}

.first-screen{ 
    text-align: start;
}

.first-screen h1 {
    width: 300px;
    height: 60px;
    font-size: 3rem;
    margin: 12px 0 50px 0;
}

.img-wrapper{
    line-height: 0;
}

.about-me { 
    background-color: #F6F6F6;
    text-align: center;
    line-height: 1.36;
    padding: 100px 0;
}

.about-me h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

.about-me p{
    margin: 0 0 30px 0;
}

.about-me p:last-of-type{
    margin-bottom: 0;
}

.skills{ 
    text-align: center;
    padding: 100px 0;
}

.skills header{ 
    margin-bottom: 50px;
}

.skills h2{
    margin: 0 0 20px 0;
    font-size: 2rem;
    font-weight: 700;
}

.skill{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    margin: 0 97px 0 0;
}

.skill:last-of-type {
    margin-right: 0;
}

.skill figure {
    margin: 0;
}

.skill img { 
    width: 80px;
    margin-bottom: 25px;
}

.skill figcaption {
    font-size: 0.8rem;
    color: #828282;
    line-height: 1.36;
}

.figma-icon {
    max-width: 53px;
}

.fa {
    display: inline-block;
    font: normal normal normal 26px/1 FontAwesome;
    /* font-size: inherit; */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa.fa-star{
 margin-top: 80px; 
 color: #E5E5E5;
}

.fa.fa-star.checked {
    color: #070707;
}

.portfolio{ 
    text-align: center;
    background-color: #F6F6F6;
}